<!doctype html>
<html>
  <head>
    <title>FoxChatter Newsfeed</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">

  </head>
  <body>
    <header>
      <!--Site Name-->
      FoxChatter
      <!--MyMarist Portal-->
      <div id="portal_button">
      <img id="redfox" src="images/redfox.png">MyMarist</img>
      </div>
    </header>
    <main>
    <div id="newsfeed">
      Feed will go here.
    </div>
    <div id="storyOne">
    <img id="maristcampus" src="images/campus.png"></img>
    Triangulum
    <a href>="file:///C:/Users/kj5497/Downloads/School%20Version%20of%20The%20Triangulum%20Galaxy.pdf"</a>
    </div>
    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2020: Marist College est. 1929</p>
    </footer>
    <script src="/js/feed.js"></script>
    <script src="/js/global.js"></script>
  </body>
</html>